<div id="commerce-paypal-checkout-card-form">
  <label for="commerce-paypal-card-number">{{ 'Card Number'|t }}</label>
  <div id="commerce-paypal-card-number"></div>
  <label for="commerce-paypal-expiration-date">{{ 'Expiration Date'|t }}</label>
  <div id="commerce-paypal-expiration-date"></div>
  <label for="commerce-paypal-cvv">{{ 'CVV'|t }}</label>
  <div id="commerce-paypal-cvv"></div>
</div>
